@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sobreMi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

.sobreMi-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 60%;
    margin-top: 2em;
    background: rgba( 142, 5, 194, 0.2 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );


    p{
        margin: 1em;
        font-size: 1.2rem;
        width: 90%;
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    strong {
        color: #8E05C2;
    }

    h1 {
        margin-bottom: 2em;
        width: 100%;
        color: #fff;
        font-size: 2.4rem;
        font-family: 'Roboto Mono', monospace;
    }
}

